<div class="select-container">
  <label [for]="label">{{ label }}</label>
  <select
    [id]="label"
    [value]="value"
    [disabled]="disabled || isLoading"
    (change)="onSelect($event)"
    (blur)="onTouched()"
  >
    <option value="" disabled selected>{{ placeholder }}</option>
    @if (isLoading) {
    <option disabled>Loading...</option>
    } @else { @for (option of options | async; track option) {
    <option [value]="option">{{ option }}</option>
    } }
  </select>
  @if (errorMessage) {
  <div class="error-message">{{ errorMessage }}</div>
  }
</div>
