<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      placeholder="Enter your name"
    />
    @if (form.get('name')?.touched && form.get('name')?.errors) {
    <div class="error-message">{{ getErrorMessage('name') }}</div>
    }
  </div>

  <div class="form-field">
    <label for="surname">Surname</label>
    <input
      type="text"
      id="surname"
      formControlName="surname"
      placeholder="Enter your surname"
    />
    @if (form.get('surname')?.touched && form.get('surname')?.errors) {
    <div class="error-message">{{ getErrorMessage('surname') }}</div>
    }
  </div>

  <div class="form-field">
    <label for="phone">Phone</label>
    <input
      type="tel"
      id="phone"
      formControlName="phone"
      placeholder="Enter your phone number"
    />
    @if (form.get('phone')?.touched && form.get('phone')?.errors) {
    <div class="error-message">{{ getErrorMessage('phone') }}</div>
    }
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Enter your email"
    />
    @if (form.get('email')?.touched && form.get('email')?.errors) {
    <div class="error-message">{{ getErrorMessage('email') }}</div>
    }
  </div>

  <div class="form-field">
    <label for="country">Country</label>
    <select
      id="country"
      formControlName="country"
      (change)="onSelectedCountry($event)"
      (blur)="onSelectedCountry($event)"
    >
      <option value="">Select a country</option>
      @for (country of countries | async; track country) {
      <option [value]="country">{{country}}</option>
      }
    </select>
    @if (form.get('country')?.touched && form.get('country')?.errors) {
    <div class="error-message">{{ getErrorMessage('country') }}</div>
    }
  </div>

  <div class="form-field">
    <label for="state">States</label>
    <select id="state" formControlName="state">
      <option value="">Select a state</option>
      @if (isLoadingStates) {
      <option disabled>Loading States...</option>
      } @else { @if (!(states | async)) {
      <option disabled>States not found</option>
      } @else { @for (state of states | async; track $index) {
      <option [value]="state">{{state}}</option>
      } } }
    </select>
    @if (form.get('state')?.touched && form.get('state')?.errors) {
    <div class="error-message">{{ getErrorMessage('state') }}</div>
    }
  </div>

  <div class="form-row">
    <div class="form-field">
      <button type="submit" class="add-button">Add Record</button>
    </div>
  </div>
</form>
