<form [formGroup]="form">
  <div class="form-field">
    <app-input
      formControlName="name"
      label="Nombre"
      placeholder="Introduce tu nombre"
    />
    @if (form.get('name')?.touched && form.get('name')?.errors) {
    <div class="error-message">{{ getErrorMessage("name") }}</div>
    }
  </div>

  <div class="form-field">
    <app-input
      formControlName="surname"
      label="Apellidos"
      placeholder="Introduce tus apellidos"
    />
    @if (form.get('surname')?.touched && form.get('surname')?.errors) {
    <div class="error-message">{{ getErrorMessage("surname") }}</div>
    }
  </div>

  <div class="form-field">
    <app-input
      formControlName="email"
      label="Email"
      placeholder="Introduce tu email"
    />
    @if (form.get('email')?.touched && form.get('email')?.errors) {
    <div class="error-message">{{ getErrorMessage("email") }}</div>
    }
  </div>

  <div class="form-field">
    <app-input
      formControlName="phone"
      label="Teléfono"
      placeholder="Introduce tu teléfono"
      [maxlength]="9"
      (change)="onBlurPhone()"
    />
    @if (form.get('phone')?.touched && form.get('phone')?.errors) {
    <div class="error-message">{{ getErrorMessage("phone") }}</div>
    }
  </div>

  <div class="form-field">
    <app-select
      formControlName="country"
      label="País"
      placeholder="Selecciona un país"
      [options$]="countries$"
      (change)="onSelectedCountry($event)"
    />
    @if (form.get('country')?.touched && form.get('country')?.errors) {
    <div class="error-message">{{ getErrorMessage("country") }}</div>
    }
  </div>

  <div class="form-field">
    <app-select
      formControlName="state"
      label="Provincia"
      placeholder="Selecciona una provincia"
      [options$]="provinces$"
      [isLoading]="isLoadingStates"
    />
    @if (form.get('state')?.touched && form.get('state')?.errors) {
    <div class="error-message">{{ getErrorMessage("state") }}</div>
    }
  </div>

  <div class="buttons-container">
    <button
      id="add"
      type="submit"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Añadir
    </button>
    <button id="clear" type="button" (click)="onClearFields()">
      Reiniciar
    </button>
  </div>
</form>
